[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/.well-known/*"
  to = "/.well-known/:splat"
  status = 200

[[headers]]
  for = "/.well-known/*"
  [headers.values]
    Content-Type = "text/plain"
